body {
    position: relative;
    max-width: 100%;
    min-width: 920px;
    height: 2000px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #ffffff;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.w {
    width: 100%;
    margin: auto;
    align-items: center;
}

input {
    outline: none;
}

.play {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    z-index: 8;
}

.item1,
.item3 {
    position: relative;
    flex: 600px;
}

.item2 {
    flex: 600px;
    color: #ffffff;
}

.musicPic {
    width: 48px;
    height: 48px;
    margin: 11px;
}

.item1 span:nth-child(2) {
    position: absolute;
}

.item1 span:nth-child(2) .im {
    margin-top: 15px;
    margin-left: 8px;
    float: left;
    font-size: 16px;
    cursor: pointer;
}

.item1>span:nth-child(2)>li {
    float: left;
}

.act {
    position: absolute;
    width: 200px;
    top: 40px;
    left: 10px;
    cursor: pointer;
}

.item2 .tops {
    position: relative;
    text-align: center;
}

.left {
    position: absolute;
    top: 20px;
    left: 267px;
}

.left span {
    color: #333333;
    cursor: pointer;
}

.left:hover span {
    color: #ef6767;
}

.ooo {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    position: absolute;
    top: 20px;
    left: 350px;
}

.right span {
    color: #333333;
    cursor: pointer;
}

.right:hover span {
    color: #ef6767;
}

.button {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 826px;
    left: 675px;
    z-index: 10;
}

.start {
    color: #999999;
    position: fixed;
    top: 917px;
    left: 730px;
    z-index: 8;
}

.end {
    color: #999999;
    position: fixed;
    top: 917px;
    right: 715px;
    z-index: 8;
}

.item3 span {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.musicPic:hover {
    cursor: pointer;
}

.scroll {
    margin: 100px;
    width: 370px;
    height: 3px;
    background: #ccc;
    position: relative;
}

.bar {
    width: 8px;
    height: 8px;
    background: #ec4141;
    position: absolute;
    top: -3px;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    background: #ff4e4e;
    width: 0;
    height: 3px;
}